html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  padding: 0 2rem;
}
.myHeading {
  color: red;
}

.greenify {
  background-color: #c7ffd8;
}

ul {
  list-style: none;
}
